.advant-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    color: var(--text-light-color);
    text-transform: uppercase;
    margin-bottom: 16px;
}
.advant-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: var(--text-light-color);
    margin-bottom: 28px;
}
.advant-skills{
    text-align: center;
    width: 230px;
    margin: 0 auto;
}
.advant-icon::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--btn-default-color);
    border-radius: 50%;
    background-image: url(../images/cow.svg);
    background-size: 36px 36px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.advant-icon-weight::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--btn-default-color);
    border-radius: 50%;
    background-image: url(../images/weight.svg);
    background-size: 36px 36px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.advant-icon-ice::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--btn-default-color);
    border-radius: 50%;
    background-image: url(../images/ice.svg);
    background-size: 36px 36px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
// @media screen and (max-width:480px) {
    
// }