.advant-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    text-align: center;
    color: var(--text-light-color);
}
.advant-text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    text-align: center;
    color: var(--text-light-color);
}
.advant-skills{
    text-align: center;
}
