.advant-text-one{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-light-color);
}
.advant-text-two{
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
    color: var(--text-light-color);
}
