body {
    cursor: url("../images/Cursor.png"), default;
}

a:hover {
    cursor: url("../images/cursor-hover.png"), pointer;
}

button:hover {
    cursor: url("../images/cursor-hover.png"), pointer;
}