.header-link {
    display: block;
    width: 40px;
    height: 37px;
}
.header-logo {
    position: absolute;
    top: 12px;
    left: 32px;
}
@media screen and (min-width: 480px) {
    .header-link {
            width: 48px;
            height: 44px;
        }
        .header-logo {
            top: 20px;
            left: 20px;
        }
}
@media screen and (min-width: 768px) {
    .header-logo {
        left: 32px;
    }
}
@media screen and (min-width: 1200px) {
    .header-link {
        width: 60px;
        height: 65px;
    }
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

// .button-tablet,
.button-buy {
    display: block;
    width: 152px;
    height: 42px;
    cursor: pointer;
    background-color: var(--btn-default-color);
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 1.21;
}

// .button-tablet:hover,
.button-buy:hover {
    background-color: var(--btn-hover-color);
}

/* header */
.header {
    background-color: var(--background-main-color);
    padding-top: 12px;
}


/* -------Бургер меню контакты------- */
.js-open-menu {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    margin-left: auto;
}

.js-open-menu:hover,
.js-open-menu:focus,
.js-close-menu:hover,
.js-close-menu:focus {
    background-color: transparent;
    color: var(--btn-default-color);
}

.js-menu-container {
    position: fixed;
    opacity: 0;
    content: "";
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: var(--background-main-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms, opacity 250ms ease-in-out;
    overflow-y: auto;
}

.is-open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

/* -------Бургер меню скрыть------- */
.js-close-menu {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.menu-desktop {
    display: none;
}

 .menu-li {
     margin-top: 100px;
     font-family: 'Montserrat';
     font-weight: 700;
     font-size: 32px;
     line-height: 1.21875;
     text-decoration: none;
     text-align: center;
 }
/* ----------------- Mobile 480px -----------------*/
@media screen and (min-width: 480px) {
    .menu-li {
            margin-top: 104px;
        }
}
@media screen and (max-width: 768px) {

    .header {
        min-width: 320px;
        padding-top: 14px;
    }

    .logo {
        width: 48px;
        height: 44px;
    }

    .logo-menu {
        margin-top: 14px;
    }

    .logo-nav {
        display: flex;
    }
    
    
    a {
        color: var(--text-light-color);
    }
    
    .menu-li-item {
        margin-top: 32px;
        line-height: 39px;
    }
    
    .button-buy {
        display: none;
    }

    .buy-now {
        margin: 114px auto 0;
        display: block;
    }
}



/* ----------------- Tablet 768px -----------------*/
@media screen and (min-width: 768px) and (max-width: 1200px) {

    .header {
        position: relative;
        min-width: 768px;
        padding-top: 20px;
    }

    .logo {
        width: 48px;
        height: 44px;
    }

    .logo-menu {
        margin-top: 20px;
    }

    .js-open-menu {
        margin-right: 32px;
    }

    .js-menu-container {
        width: 100vw;
        height: 100vh;
    }

    .js-close-menu {
        right: 32px;
    }

    .menu-li {
        margin-top: 140px;
        font-size: 48px;
        line-height: 1.22917;
    }

    .menu-li-item {
        margin-top: 40px;
    }

    a {
        color: var(--text-light-color);
    }

    .button-buy {
        display: block;
        // margin-left: auto;
    }

    .buy-now {
        display: none;
    }
}


/* ----------------- Desktop 1200px -----------------*/
@media screen and (min-width: 1200px) {

    .js-open-menu {
        display: none;
    }

    .header {
        padding-top: 8px;
    }

    .logo-nav {
        display: flex;
    }

    .logo {
        width: 60px;
        height: 65px;
    }

    .menu-desktop {
        display: flex;
        margin-left: 309px;
    }
    .menu-list {
        display: flex;
        width: 444px;
        gap: 28px;
        align-items: flex-end;
        text-align: center;
        // padding-top: 42px;
    }

    .js-menu-container {
        display: none;
        }

    .menu {
        margin-top: 32px;
    }

    .menu-item-link {
        font-weight: 700;
        color: var(--text-light-color);
        // padding-top: 42px;
    }


    .menu-item-link:hover,
    .menu-item-link:focus {
        color: var(--btn-default-color);
    }

    .button-buy {
        // margin-top: 20px;
        margin-left: 198px;
    
    }

}