.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
// .button-tablet,
.button-buy {
    width: 152px;
    height: 42px;
    cursor: pointer;
    background-color: var(--btn-default-color);
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    line-height: 1.21;
}

// .button-tablet:hover,
.button-buy:hover {
    background-color: var(--btn-hover-color);
}

/* header */
.header {
    background-color: var(--background-main-color);
    padding-top: 12px;
}

// .menu-li {
//     align-items: center;
//     text-align: center;
// }

/* -------Бургер меню контакты------- */
.js-open-menu {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
    // margin-top: 14px;
    // margin-left: 360px;
    margin-left: 440px;
}

.js-open-menu:hover,
.js-open-menu:focus,
.js-close-menu:hover,
.js-close-menu:focus {
    background-color: transparent;
}

.js-menu-container {
    position: fixed;
    opacity: 0;
    // pointer-events: none;
    content: "";
    top: 0;
    min-width: 480px;
    height: 568px;
    z-index: 2;
    background-color: var(--background-main-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms, opacity 250ms ease-in-out;
    overflow-y: auto;
}

.is-open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

/* -------Бургер меню скрыть------- */
.js-close-menu {
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.menu-desktop {
    display: none;
}


/* ----------------- Mobile 480px -----------------*/
@media screen and (max-width: 767px) {
    // body {
    //     max-width: 480px;
    //     margin: auto;
    // }

    .header {
        min-width: 320px;
        padding-top: 14px;
    }

    .logo {
        width: 48px;
        height: 44px;
    }

    .logo-nav {
        display: flex;
    }

    .menu-li {
        margin-top: 40px;
    }

    .menu-li-item {
        margin-top: 32px;
        line-height: 39px;
    }

    // a {
    //     font-family: 'Montserrat';
    //     font-weight: 700;
    //     font-size: 32px;
    //     text-decoration: none;
    //     color: var(--text-light-color);
    // }

        .button-buy {
            display: none;
        }
}



/* ----------------- Tablet 768px -----------------*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
    // body {
    //     max-width: 768px;
    //     margin: auto;
    // }

    .header {
        position: relative;
        min-width: 768px;
        padding-top: 20px;
    }

    .logo {
        width: 48px;
        height: 44px;
    }

    // img {
    //     display: inline-flex;
    // }

    // a {
    //     font-family: 'Montserrat';
    //     font-weight: 700;
    //     font-size: 48px;
    //     text-decoration: none;
    //     color: var(--text-light-color);
    // }

    .js-open-menu {
        margin-left: 440px;
    }

    // .button-tablet {
    //     display: inline;
    //     position: absolute;
    //     margin-left: 32px;
    //     margin-top: 24px;
    // }

    .js-menu-container {
        width: 768px;
        height: 1024px;
    }

    .js-close-menu {
        right: 32px;
    }

    .logo {
        width: 48px;
        height: 44px;
    }

    // .menu-li {
    //     margin-top: 140px;
    // }

    // .menu-li-item {
    //     margin-top: 40px;
    // }
        .button-buy {
            display: block;
            // margin-right: auto;
            margin-left: auto;
            // display: none;
        }

}


/* ----------------- Desktop 1200px -----------------*/
@media screen and (min-width: 1200px) {
    // body {
    //     max-width: 1200px;
    //     margin: auto;
    // }

    .js-open-menu {
        display: none;
    }

    .header {
        padding-top: 8px;
    }

    .logo-nav {
        display: flex;
    }

    .logo {
        width: 60px;
        height: 65px;
    }

    .menu-desktop {
        display: flex;
        margin-left: 309px;
    }
    .menu-list {
        display: flex;
        width: 444px;
        gap: 28px;
        align-items: flex-end;
        text-align: center;
    }

        .js-menu-container {
            display: none;
        }
    .menu {
        margin-top: 32px;
    }

    .menu-item-link {
        font-weight: 700;
        color: var(--text-light-color);
    }


    .menu-item-link:hover,
    .menu-item-link:focus {
        color: var(--btn-default-color);
    }

    .button-buy {
        margin-top: 20px;
        margin-left: 198px;
        // display: none;
    }

}