*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    background-color: var(--background-main-color);
    color: var(--text-main-color);

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;

    cursor: url("../images/Cursor.png"), auto;
}

a {
    text-decoration: none;
}
a:hover {
    color: var(--text-main-color);
}


ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


button {
    border-color: var(--btn-default-color);
    cursor: pointer;
}
button:hover {
    border-color: var(--btn-hover-color);
}
button:focus {
    border-color: var(--btn-focus-color);
    color: var(--text-light-color);
}
button:disabled {
    border-color: var(--btn-default-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 20px;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);;

    transition: opacity var(--duration-time) var(--timing-function);

    overflow-y: scroll;
    z-index: 999;
}
