.modal-button {
    padding: 12px 34px;

    text-align: center;

    cursor: pointer;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;

    background-color: var(--btn-default-color);
    border: none;
    border-radius: 10px;

    transition: background-color var(--duration-time) var(--timing-function),
                color var(--duration-time) var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--btn-hover-color);
    color: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);;

    transition: opacity var(--duration-time) var(--timing-function);

    overflow-y: scroll;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal {
    transform: scale(0.9);
}

.modal {
    display: block;
    padding: 72px 16px 24px 16px;

    background-color: var(--text-light-color);
    border: 2px solid var(--btn-default-color);
    border-radius: 10px;

    transform: scale(1);
    transition: transform var(--duration-time) var(--timing-function);
}

@media screen and (min-width: 480px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 440px;
        padding: 32px 40px;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 568px;
        padding: 32px 40px;
    }
}

.close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    top: 12px;
    right: 12px;

    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: border-color var(--duration-time) var(--timing-function),
        background-color var(--duration-time) var(--timing-function),
        fill var(--duration-time) var(--timing-function);
}

.close-button:hover,
.close-button:focus {
    border-color: transparent;
    background-color: var(--pressed-state-color);
    fill: var(--white-color);
}

.modal-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 142px;

    font-family: 'Seymour One';
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.modal-title::after {
    content: '';
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 132px;
    height: 139px;

    background-image: url("../images/ingredients/ingredients.png"), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 30;

    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border-radius: 50%;
}

.ingredients-calories-list {
    margin-top: 181px;
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 40px;
}

.ingredients-calories-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 53px;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
}

.ingredients-calories-number {
    width: 43px;
    height: 43px;
    display: flex;
    margin-top: 0;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8px;
    background-color: #9CBE8F;
    border-radius: 50%;

    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
}

.ingredients-calories-measure {
    font-size: 10px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
}

.ingredients-ingr-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.ingredients-ingr-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-field {
    position: relative;
    margin-bottom: 16px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 360px;
}

.modal-label {
    position: absolute;
    left: 10.43px;
    top: 50%;
    transform: translateY(-50%);
    
    line-height: 1.4;
}

.modal-input {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10.43px;
    line-height: 1.4;
    
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;
}

.modal-textarea {
    width: 100%;
    min-height: 84px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10.43px;

    line-height: 1.4;

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    outline: none;
    resize: none;
}

.textarea-label {
    position: absolute;
    left: 10.43px;
    top: 11px;
    
    line-height: 1.4;
}

.form-field:focus-within > .modal-label,
.form-field:focus-within > .textarea-label {
    visibility: hidden;
}

.modal-input:not(:placeholder-shown) + .modal-label,
.modal-input:not(:placeholder-shown) +.textarea-label {
    visibility: hidden;
}

.modal-input:focus,
.modal-textarea:focus {
    border-color: var(--btn-default-color);
}