:root {
    --background-main-color: #84A178;
    --background-card-color-cream: #AEC6A5;
    --background-card-color-coffee: #EFD478;
    --background-card-color-milkshakes: #D6936D;

    --btn-default-color: #F8D24E;
    --btn-hover-color: #0A8817;
    --btn-disable-color: #ABABAB;

    --text-main-color: #131313;
    --text-light-color: #FCFCFC;
    --text-disable-color: #7A7A7A;//bottom footer text color//

    --duration-time: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
