.btn-up {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border-color: var(--btn-default-color);
    // background-color: var(--background-main-color);
    // opacity: 0.5;
    // color: var(--btn-default-color);
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);

    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 200;
}


.scroll-icon-link {
display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--btn-default-color);
    fill: var(--background-main-color);
    width: 34px;
    height: 34px;
    opacity: 0.5;
}
.scroll-icon-link:hover,
.scroll-icon-link:focus {
    background-color: var(--btn-default-color);
    fill: var(--background-main-color);
    opacity: 1;
}


.arow-up {
    align-items: center;
    color: var(--background-main-color);
}