 <section class="section-advantages">
      <h3 class="visually-hidden"> Advantages</h3>
      <div class="conteiner">
        <ul class="advant-skills">
          <li class="advant-list">
            <span class="advant-text-one advant-picture">
              721
            </span>
            <p class="advant-text-two">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li>
            <span class="advant-text-one">
             16kg
            </span>
            <p class="advant-text-two">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li>
            <span class="advant-text-one">
              84
            </span>
            <p class="advant-text-two">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </div>
    </section>