<section class="section-advantages">
  <div class="conteiner">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advant-skills">
      <li class="advant-list advant-picture">
        <p class="advant-item advant-icon">721</p>
        <p class="advant-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <p class="advant-item">16kg</p>
        <p class="advant-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li>
        <p class="advant-item">84</p>
        <p class="advant-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
