<section class="contacts">
    <div class="container">
        <h1 class="contacts-title">Hello</h1>
        <div class="contacts-wrapper">
            <!-- first-card -->
            <button class="cards-button">CAFE</button>
            <ul class="contacts-list">
                <li class="contacts-item">
                    <a class="contacts-city" href="">Chicago</a>
                    <p class="contacts-address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                </li>
                <li class="contacts-item">
                    <div>
                        <h3 class="contacts-working-days">Monday - Friday</h3>
                        <h3 class="contacts-working-hours">06:00 AM - 10:00 PM</h3>
                    </div>
                    <div>
                        <h3 class="contacts-working-days">Saturday - Sunday</h3>
                        <h3 class="contacts-working-hours">08:00 AM - 16:00 PM</h3>
                    </div>
                </li>
                <li class="contacts-item">
                    <address>
                        <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
        <!-- secons-card -->
        <div class="contacts-wrapper">
            <button class="cards-button">Food truck</button>
            <ul class="contacts-list">
                <li class="contacts-item">
                    <a class="contacts-city" href="">Los Angeles</a>
                    <p class="contacts-address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
                </li>
                <li class="contacts-item">
                    <div>
                        <h3 class="contacts-working-days">Monday - Friday</h3>
                        <h3 class="contacts-working-hours">06:00 AM - 10:00 PM</h3>
                    </div>
                    <div>
                        <h3 class="contacts-working-days">Saturday - Sunday</h3>
                        <h3 class="contacts-working-hours">08:00 AM - 16:00 PM</h3>
                    </div>
                </li>
                <li class="contacts-item">
                    <address>
                        <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
        <!-- third-card -->
        <div class="contacts-wrapper">
            <button class="cards-button">Cafe</button>
            <ul class="contacts-list">
                <li class="contacts-item">
                    <a class="contacts-city" href="">New York</a>
                    <p class="contacts-address">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
                </li>
                <li class="contacts-item">
                    <div>
                        <h3 class="contacts-working-days">Monday - Friday</h3>
                        <h3 class="contacts-working-hours">06:00 AM - 10:00 PM</h3>
                    </div>
                    <div>
                        <h3 class="contacts-working-days">Saturday - Sunday</h3>
                        <h3 class="contacts-working-hours">08:00 AM - 16:00 PM</h3>
                    </div>
                </li>
                <li class="contacts-item">
                    <address>
                        <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                        <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                    </address>
                </li>
            </ul>
        </div>
    </div>
</section>