<section class="contacts" id="contacts">
    <div class="container upper">
        <h1 class="contacts-title visually-hidden">Hello</h1>
        <!-- first-card -->
        <ul class="contacts-wrapper-cards">
            <li class="contacts-wrapper">
                <p class="contacts-card-name">CAFE</p>
                <p class="contacts-city">Chicago</p>
                <a href="" class="contacts-address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                <div class="contacts-working">
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Saturday - Sunday</p>
                        <p class="contacts-working-hours">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <address class="contacts-address-links">
                    <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                </address>
            </li>
            <!-- secons-card -->
            <li class="contacts-wrapper">
                <p class="contacts-card-name">FOODTRUCK</p>
                <p class="contacts-city">Los Angeles</p>
                <a href="" class="contacts-address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                <div class="contacts-working">
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Saturday - Sunday</p>
                        <p class="contacts-working-hours">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <address class="contacts-address-links">
                    <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                </address>
            </li>
            <!-- third-card -->
            <li class="contacts-wrapper">
                <p class="contacts-card-name">CAFE</p>
                <p class="contacts-city">New York</p>
                <a href="" class="contacts-address">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                <div class="contacts-working">
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Monday - Friday</p>
                        <p class="contacts-working-hours">06:00 AM - 10:00 PM</p>
                    </div>
                    <div class="contacts-scheduele">
                        <p class="contacts-working-days">Saturday - Sunday</p>
                        <p class="contacts-working-hours">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <address class="contacts-address-links">
                    <a href="tel:+61(0)383766284" class="contacts-link">+61(0) 383 766 284</a>
                    <a href="mailto:noreply@envato.com" class="contacts-link">noreply@envato.com</a>
                </address>
            </li>
        </ul>
        <div class="contacts-main-buttons">
            <button class="contacts-button-location" data-modal-open-location>Our Locations
                <svg class="svg-icon" width="12px" height="12px">
                    <use href="./images/svg/icons.svg#icon--arrow-right-"></use>
                </svg>
            </button>
            <button class="contacts-button-franchise" data-modal-open-franchise>Franchise
                <svg class="svg-icon" width="12px" height="12px">
                    <use href="./images/svg/icons.svg#icon--arrow-right-"></use>
                </svg>
            </button>
        </div>
    </div>
</section>