
<footer class="footer_adress">
    <div class="container">
    
                <p class="footer_text">
                    HOMEMADE ICE CREAM <br /> MADE
                </p>
                <p class="footer_text_passion">
                    WITH <br /> PASSION
                </p>

    

    <div class="footer_icon">
        <ul class="footer-social">
            <li class="footer-social-list">
                <a href="" class="footer-icon-link">
                    <svg class="footer-list-icon" width="20" height="20">
                        <use class="footer-list-link" href="./images/symbol-defs.svg#icon-git_hab">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-list">
                <a href="" class="footer-icon-link">
                    <svg class="footer-list-icon" width="20" height="16">
                        <use class="footer-list-link" href="./images/symbol-defs.svg#icon-telegram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="footer-social-list">
                <a href="" class="footer-icon-link">
                    <svg class="footer-list-icon" width="9" height="20">
                        <use class="footer-list-link" href="./images/symbol-defs.svg#icon-facebook">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer_text_link">
            <p class="footer_contacts_text">
                Feel free to contact
            </p>

            <a class="footer_contacts-link" href="tel:+11(000)111-11-11">+61 (0) 383 766 284</a>
        </div>
    </div>
            <hr>
    <address>
        © 2022 - IceCream. All Rights Reserved.
    </address>

</footer>