<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">GALLERY</h2>
    <div class="for-position-relative">
      <div class="box-for-slider">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ../src/images/ice-cream-1-mob.jpg   440w,
                    ../src/images/ice-cream-1-mob2x.jpg 880w
                  "
                  media="(max-width: 767px)"
                  sizes="(min-width: 440px) 440px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-1-tab.jpg    704w,
                    ../src/images/ice-cream-1-tab2x.jpg 1408w
                  "
                  media="(max-width: 1199px)"
                  sizes="(min-width: 704px) 704px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-1-lap.jpg    704w,
                    ../src/images/ice-cream-1-lap2x.jpg 1408w
                  "
                  media="(min-width: 1200px)"
                  sizes="(min-width: 1012px) 1012px, 100vw"
                />

                <img
                  src="../src/images/ice-cream-1-mob.jpg"
                  alt="first fhoto of
                ice-cream"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ../src/images/ice-cream-2-mob.jpg   440w,
                    ../src/images/ice-cream-2-mob2x.jpg 880w
                  "
                  media="(max-width: 767px)"
                  sizes="(min-width: 440px) 440px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-2-tab.jpg    704w,
                    ../src/images/ice-cream-2-tab2x.jpg 1408w
                  "
                  media="(max-width: 1199px)"
                  sizes="(min-width: 704px) 704px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-2-lap.jpg    704w,
                    ../src/images/ice-cream-2-lap2x.jpg 1408w
                  "
                  media="(min-width: 1200px)"
                  sizes="(min-width: 1012px) 1012px, 100vw"
                />

                <img
                  src="../src/images/ice-cream-2-mob.jpg"
                  alt="second fhoto of
                ice-cream"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ../src/images/ice-cream-3-mob.jpg   440w,
                    ../src/images/ice-cream-3-mob2x.jpg 880w
                  "
                  media="(max-width: 767px)"
                  sizes="(min-width: 440px) 440px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-3-tab.jpg    704w,
                    ../src/images/ice-cream-3-tab2x.jpg 1408w
                  "
                  media="(max-width: 1199px)"
                  sizes="(min-width: 704px) 704px, 100vw"
                />

                <source
                  srcset="
                    ../src/images/ice-cream-3-lap.jpg    704w,
                    ../src/images/ice-cream-3-lap2x.jpg 1408w
                  "
                  media="(min-width: 1200px)"
                  sizes="(min-width: 1012px) 1012px, 100vw"
                />

                <img
                  src="../src/images/ice-cream-3-mob.jpg"
                  alt="third fhoto of
                ice-cream"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
