<section>
  <div class="container">
    <h2 class="visually-hidden">GALLERY</h2>
    <div class="for-position-relative">
      <div class="box-for-slider">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../src/images/ice-cream-1-mob.jpg"/> 
              <!-- <picture>
                <source
                  srcset="
                    ..src/images/ice-cream-1-mob.jpg   440w,
                    ..src/images/ice-cream-1-mob2x.jpg 880w
                  "
                  media="(max-width: 767px)"
                  sizes="(min-width: 440px) 440px, 100vw"
                />

                <img
                  src="..src/images/ice-cream-1-mob.jpg"
                  alt="first fhoto of
                ice-cream"
                />
              </picture> -->
            </div>
            <div class="swiper-slide">
              <img src="../src/images/ice-cream-2-mob.jpg"/> 
            </div>
            <div class="swiper-slide">
              <img src="../src/images/ice-cream-3-mob.jpg"/> 
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
