
<section class="container hero">
  <div class="hero-img">
    <h1 class="hero-title">
      ice cream made with <span class="hero-text-title">passion</span>
    </h1>
    <div class="hero-cafes">
      <p>16 cafes</p>
      <p>23 food trucks</p>
    </div>
    <div class="hero-button">
      <button type="button" class="hero-btn">Products</button>
      <a class="hero-link" href="">How it’s made?</a>
    </div>

    <div class="hero-info">
      <img
        srcset="
          ./images/hero/ice-cream.jpg    1x,
          ./images/hero/ice-cream@2x.jpg 2x
        "
        src="./images/hero/ice-cream.jpg"
        alt="Ice cream on a plate"
      />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>

    <div class="hero-bg-dots">
      <svg class="hero-dots">
        <use href="./images/hero/sprite-hero.svg#icon-dots"></use>
      </svg>
      <div class="hero-bg-ice"></div>
    </div>
  </div>
</section>
=======

<section class="hero">
        <div class="container">
            <h1 class="hero-title">ice cream made with <span class="hero-text-title">passion</span> </h1>
            <div class="hero-cafes">
                <ul>
                    <li class="hero-food-court"><p class="hero-text-num"> <span class="hero-numbers">16</span> <br> cafes</p></li>
                    <li class="hero-food-court"><p class="hero-text-num"> <span class="hero-numbers">23</span> <br> food trucks</p></li>
                </ul>
            </div>
            <div class="hero-button">
                <button type="button" class="hero-btn">Products</button>
                <a class="hero-link" href="">How it’s made?</a>
            </div>
            
                <div class="hero-info">
                    <picture>
                        <source 
                        srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x" 
                        media="(min-width: 1200px)" />

                        <source
                        srcset="./images/hero/ice-cream-tablet.png 1x, ./images/hero/ice-cream-tablet@2x.png 2x" 
                        media="(min-width: 768px)" />
                        <img src="./images/hero/ice-cream-tablet.png" alt="Ice cream on a plate">
                    </picture>
                    
                    <div class="hero-text-info">
                        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>

                <div class="hero-bg-dots">
                    <svg class="hero-dots">
                        <use href="./images/hero/sprite-hero.svg#icon-dots"></use>
                    </svg>
                <div class="hero-bg-ice">
                    <picture>
                        <source 
                        srcset="./images/hero/horn-desktop.png 1x, ./images/hero/horh-desktop@2x.png 2x" 
                        media="(min-width: 1200px)" />
                        <source 
                        srcset="./images/hero/horn-tablet.png 1x, ./images/hero/horn-tablet@2x.png 2x"
                        media="(min-width: 768px)"/>

                        <source 
                        srcset="./images/hero/ice-cream-desktop.png 1x, ./images/hero/ice-cream-desktop@2x.png 2x"
                        media="(min-width: 480px)"/>

                        <source 
                        srcset="./images/hero/mobile.png 1x, ./images/hero/mobile@2x.png 2x"
                        media="(min-width: 768px)"/>
                        <img src="./images/hero/mobile.png" alt="Ice cream cone that smiles">
                    </picture>
                </div>
                </div>
        </div>
</section>

