<div class="backdrop is-hidden-read" data-modal-read>
  <div class="modal-read-more">
  <button class="close-button-read" type="button" data-modal-close-read>
    <svg class="icon-modal-read" width="11" height="11">
      <use href="./images/svg/icon.svg#icon-modal-read-more"></use>
      </svg>
  </button>
  <h2 class="title-modal-read">How it’s made?</h2>
<iframe class="ice-cream-video"
width="224" 
height="199" 
src="https://www.youtube.com/embed/G_5ucRNHmDw" 
title="Виробництво морозива" 
frameborder="0" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
allowfullscreen>
</iframe>
  <p class="description-modal-read">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt
     ut labore et Lorem ipsum dolor sit amet, 
     consectetur adipiscing elit, 
     sed do eiusmod tempor incididunt 
     ut labore et</p>
</div>
  </div>
<script src="./js/modal-read-more.js"></script>