<div class="backdrop is-hidden-location" data-modal-location>
    <div class="modal-location">
        <button type="button" class="close-button" data-modal-close-location>
            <svg width="20" height="20">
                <use href="./images/ingredients/sprite-ingredients.svg#close"></use>
            </svg>
        </button>
        <h2 class="modal-location-title">
            Our Locations
        </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7929340743367!2d-87.78192918480825!3d41.70340558430778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e39ad302b2c19%3A0xc808e9b14d04eb2b!2zMTAzNDAgUmlkZ2VsYW5kIEF2ZSwgQ2hpY2FnbyBSaWRnZSwgSUwgNjA0MTUsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1674328695737!5m2!1suk!2sua" class="map-location"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <a href="https://goo.gl/maps/yw4zQcaaKce2j1Lq7" class="location-button">Open map</a>
    </div>
</div>
<script src="./js/modal-location.js"></script>