<button type="button" class="modal-ingredients-button" data-modal-open>
  <svg width="40" height="16">
    <use href="./images/ingredients/sprite-ingredients.svg#arrow"></use>
  </svg>
</button>

<div class="backdrop is-hidden" data-modal>
<div class="modal-ingredients">
  <button type="button" class="close-button" data-modal-close>
    <svg width="20" height="20">
      <use href="./images/ingredients/sprite-ingredients.svg#close"></use>
    </svg>
  </button>
  <h2 class="modal-ingredients-title">
    Chololate icecream
  </h2>
  <ul class="ingredients-calories-list">
        <li class="ingredients-calories-item">
          <p class="ingredients-calories-number">320</p>
          <p class="ingredients-calories-measure">kcal</p>
        </li class="ingredients-calories-item">
        <li class="ingredients-calories-item">
          <p class="ingredients-calories-number">4g.</p>
          <p class="ingredients-calories-measure">Prote..</p>
        </li>
        <li class="ingredients-calories-item">
          <p class="ingredients-calories-number">8,2g </p>
          <p class="ingredients-calories-measure">Fats</p>
        </li>
        <li class="ingredients-calories-item">
          <p class="ingredients-calories-number">40,4g</p>
          <p class="ingredients-calories-measure">Carbs</p>
        </li>
      </ul>
      <h3 class="ingredients-ingr-title">Ingredients</h3>
      <ul class="ingredients-ingr-list">
        <li class="ingredients-ingr-item">
          <p>Milk</p>
          <p>100ml</p>
        </li>
        <li class="ingredients-ingr-item">
          <p>Belgian chocolate</p>
          <p>20g</p>
        </li>
        <li class="ingredients-ingr-item">
          <p>Cream</p>
          <p>150 ml</p>
        </li>
        <li class="ingredients-ingr-item">
          <p>Cocoa powder</p>
          <p>30g</p>
        </li>
        <li class="ingredients-ingr-item">
          <p>Sugar</p>
          <p>40g</p>
        </li>
        <li class="ingredients-ingr-item">
          <p>Vanilla sugar</p>
          <p>10g</p>
        </li>
      </ul>
  <form class="modal-ingredients-form">
    <div class="modal-ingredients-data">
      
      <div class="form-ingredients-field">
        <input type="text" name="name" id="name" placeholder=" " class="modal-ingredients-input" />
        <label for="name" class="modal-ingredients-label">Name</label>
      </div>

      <div class="form-ingredients-field">
        <input type="tel" name="phone" id="phone" placeholder=" " class="modal-ingredients-input" />
        <label for="phone" class="modal-ingredients-label">Phone</label>
      </div>

      <div class="form-ingredients-field">
      <label for="comment" class="textarea-ingredients-label">Comment</label>
      <textarea
        name="comment"
        id="comment"
        rows="2"
        placeholder=" "
        class="modal-ingredients-textarea"
      ></textarea></div>

    </div>
    <button type="submit" class="modal-ingredients-submit-button">Submit</button>
  </form>
</div>
</div>
<script src="./js/modal-ingredients.js"></script>