<div class="backdrop is-hidden-read" data-modal-read>
  <div class="modal-read-more">
    <button class="close-button-read" type="button" data-modal-close-read>
      <svg width="20" height="20">
        <use href="./images/svg/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="title-modal-read">How it’s made?</h2>
    <iframe class="ice-cream-video"
    src="https://www.youtube.com/embed/G_5ucRNHmDw" 
    title="Виробництво морозива" 
    frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen>
    </iframe> 
    <p class="description-modal-read">Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt
    ut labore et Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt 
    ut labore et</p>
  </div>
</div>
