<div class="backrop">
    <div class="product-card-modal-container">
        <h2 class="product-card-modal-h2">Buy now</h2>
        <form>
            <div class="product-card-modal-list">
                <label>

                    <img srcset="./images/product-card/product-card-modal-ice_cream.jpg 1x, ./images/product-card/product-card-modal-ice_cream@2x.jpg 2x"
                        src="./images/product-card/product-card-modal-ice_cream.jpg" alt="ice cream">
                    <span class="product-card-modal-circle cirle-cream"></span>
                    <input type="checkbox" name="ice-cream" class="product-card-modal-check visually-hidden">
                    <span class="product-card-modal-frame frame-crema"></span>
                    <span class="product-card-modal-description">ice cream</span>
                </label>
                <label>
                    <img srcset="./images/product-card/product-card-modal-ice_coffee.jpg 1x, ./images/product-card/product-card-modal-ice_coffee@2x.jpg 2x"
                        src="./images/product-card/product-card-modal-ice_coffee.jpg" alt="ice coffee">
                    <span class="product-card-modal-circle cirle-coffe"></span>
                    <input type="checkbox" name="ice-coffee" class="product-card-modal-check visually-hidden">
                    <span class="product-card-modal-frame frame-coffe"></span>
                    <span class="product-card-modal-description">ice coffee</span>
                </label>
                <label>
                    <img srcset="./images/product-card/product-card-modal-milkshake.jpg 1x, ./images/product-card/product-card-modal-milkshake@2x.jpg 2x"
                        src="./images/product-card/product-card-modal-milkshake.jpg" alt="milkshake">
                    <span class="product-card-modal-circle cirle-milkshake"></span>
                    <input type="checkbox" name="milkshake" class="product-card-modal-check visually-hidden">
                    <span class="product-card-modal-frame frame-milkshake"></span>
                    <span class="product-card-modal-description">milkshake</span>

                </label>
            </div>

            <div class="product-card-modal-form">
                <label>
                    <input type="text" name="username" required pattern="^[a-zA-Z]+\s[a-zA-Z]+$" placeholder="Name">
                </label>
                <label>
                    <input type="tel" name="userphone" required pattern="^[0-9]+$" placeholder="Phone">
                </label>
                <label>
                    <textarea name="comment" placeholder="Comment"></textarea>
                </label>
                <button type="submit" class="modal-btn-submit">Submit</button>
            </div>
        </form>
    </div>
</div>