<section class="section-product">
  <div class="container product-container">
    <p class="product-sub">100% natural</p>
    <h2 id="product" class="section-title product-title">products</h2>
    <ul class="product-list">
      <li class="product-list__item green-bg">
        <div class="product-list__container">
          <h3 class="product-list__title">ice cream</h3>
          <p class="product-list__txt">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          type="button"
          class="modal-ingredients-button product-list__button"
          data-modal-open-ingr
        >
          <svg width="40" height="16">
            <use href="./images/svg/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product-list__item yellow-bg circle">
        <div class="product-list__container">
          <h3 class="product-list__title">ice coffee</h3>
          <p class="product-list__txt">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          type="button"
          class="modal-ingredients-button product-list__button"
          data-modal-open-ingr
        >
          <svg width="40" height="16">
            <use href="./images/svg/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="product-list__item brown-bg circle">
        <div class="product-list__container">
          <h3 class="product-list__title">milkshakes</h3>
          <p class="product-list__txt">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="button"
          class="modal-ingredients-button product-list__button"
          data-modal-open-ingr
        >
          <svg width="40" height="16">
            <use href="./images/svg/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
