<section class="reviews-style">
  <div class="container">
    <h2 class="visually-hidden">Customer Reviews</h2>
    <ul>
      <li>
        <img
          class="reviews-image-style"
          srcset="
            ./images/images-reviews/emili-1x.jpg  1x,
            ./images/images-reviews/emili-@2x.jpg 2x
          "
          src="./images/images-reviews/emili-original.jpg"
          alt="girl Emily"
        />
        <p>
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p>Emily, Los Angeles</p>
      </li>

      <li>
        <img
          class="reviews-image-style"
          srcset="
            ./images/images-reviews/bryan-1x.jpg  1x,
            ./images/images-reviews/bryan-@2x.jpg 2x
          "
          src="./images/images-reviews/bryan-original.jpg"
          alt="boy Bryan"
        />
        <p>
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p>Bryan, New-York</p>
      </li>

      <li>
        <img
          class="reviews-image-style"
          srcset="
            ./images/images-reviews/diana-1x.jpg  1x,
            ./images/images-reviews/diana-@2x.jpg 2x
          "
          src="./images/images-reviews/diana-original.jpg"
          alt="girl Diana"
        />
        <p>
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p>Diana, Chicago</p>
      </li>
    </ul>
  </div>
</section>
